<p id="notice"><%= notice %></p>

<p>
  <strong>Post:</strong>
  <%= @suggestion.post_id %>
</p>

<p>
  <strong>Content:</strong>
  <%= @suggestion.content %>
</p>

<%= link_to 'Edit', edit_suggestion_path(@suggestion) %> |
<%= link_to 'Back', suggestions_path %>
